// =================COMMON STYLES==================

:root {
  --black: #00151c;
  --blue: #7dbcca;
  --white: #ffffff;
}

@mixin button {
  width: 220px;
  padding: 10px 16px 9px 16px;
  border: 1px solid var(--black);
  display: flex;
  gap: 8px;
  cursor: pointer;
}

@font-face {
  font-family: PT_Mono;
  src: url(./assets/fonts/pt-mono_regular.woff);
  font-weight: 400;
}

@font-face {
  font-family: PT_Mono;
  src: url(./assets/fonts/pt-mono_bold.woff);
  font-weight: 700;
}

@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/montserrat_medium.woff);
  font-weight: 500;
}

@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/montserrat_bold.woff);
  font-weight: 700;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-family: 'PT_Mono', sans-serif;
  font-size: 18px;
  color: var(--black);
}

// =================HEADER==================

.header {
  height: 96px;
  min-width: 1068px;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 12px;

  &__image {
    margin-right: 64px;
    cursor: pointer;
  }

  &__links {
    display: flex;
    width: 658px;
    justify-content: space-between;
    margin-right: 122px;
    > div {
      cursor: pointer;
    }
  }

  &__submit {
    @include button;
  }
}

// =================MAIN PAGE==================

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// =================HERO SECTION==================

.hero {
  margin-top: 132px;
  margin-left: 15px;
  margin-bottom: 197px;
  max-width: 936px;
  display: flex;
  justify-content: space-between;
  gap: 110px;

  &__frontend {
    &_blue {
      font-family: 'Montserrat';
      font-size: 5.33rem;
      font-weight: 700;
      letter-spacing: 0.5rem;
      line-height: 5.33rem;
      color: var(--blue);
      margin-bottom: 36px;
    }

    &_black {
      font-family: 'Montserrat';
      font-size: 3.55rem;
      line-height: 4.33rem;
      letter-spacing: 0.25rem;
      font-weight: 500;
      margin-bottom: 50px;
    }

    &_submit {
      @include button;
      background-color: var(--blue);
      border: none;
      color: var(--white);
      font-weight: 400;

      > img {
        fill: var(--white);
      }
    }
  }
  &__icons {
    margin-top: 18px;
  }
}

// =================DESCRIPTION SECTION==================

.description {
  position: relative;
  max-width: 936px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;
  margin-left: 12px;
  font-size: 1.77rem;
  line-height: 2.49rem;
  letter-spacing: 0.14rem;

  &__trapezoid {
    position: absolute;
    top: -70px;
    left: 615px;
  }
}
