:root {
  --black: #00151c;
  --blue: #7dbcca;
  --white: #ffffff;
  --blueButtonHover: #5d929e;
  --blueButtonActive: #406b75;
  --promo_desktop: 96px;
  --h1_desktop: 64px;
  --h3_desktop: 24px;
  --lead_desktop: 32px;
  --p1_desktop: 18px;
  --p1_desktop_strong: 16px;
  --p2_desktop: 14px;
  --h1_desktop_lineHeight: 122%;
  --h3_desktop_lineHeight: 132%;
  --lead_desktop_lineHeight: 126%;
  --p1_desktop_lineHeight: 112%;
  --p1_desktop_strong_lineHeight: 126%;
  --p2_desktop_lineHeight: 116%;
  --promo_tablet: 64px;
  --h1_tablet: 32px;
  --h2_tablet: 24px;
  --h3_tablet: 20px;
  --lead_tablet: 24px;
  --p1_tablet: 16px;
  --p1_tablet_strong: 16px;
  --h1_tablet_lineHeight: 124%;
  --h2_tablet_lineHeight: 134%;
  --h3_tablet_lineHeight: 142%;
  --lead_tablet_lineHeight: 124%;
  --p1_tablet_lineHeight: 124%;
  --p1_tablet_strong_lineHeight: 124%;
  --promo_mobile: 48px;
}

@font-face {
  font-family: PT_Mono;
  src: url(./assets/fonts/pt-mono_regular.woff);
  font-weight: 400;
}
@font-face {
  font-family: PT_Mono;
  src: url(./assets/fonts/pt-mono_bold.woff);
  font-weight: 700;
}
@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/montserrat_medium.woff);
  font-weight: 500;
}
@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/montserrat_bold.woff);
  font-weight: 700;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  overflow-x: hidden;
}

body {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-family: "PT_Mono", sans-serif;
  color: var(--black);
}
@media (max-width: 1200px) {
  body {
    max-width: 768px;
    width: 768px;
  }
}
@media (max-width: 768px) {
  body {
    max-width: 350px;
    width: 350px;
  }
}

button {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
}

.header__submit > svg,
.traineeship__nextStage > svg {
  margin-top: 2px;
}
.header__submit:hover,
.traineeship__nextStage:hover {
  background-color: var(--black);
  color: var(--white);
}
.header__submit:hover > svg > path,
.traineeship__nextStage:hover > svg > path {
  fill: var(--white);
  transition: color 0.3s, background-color 0.3s, fill 0.3s;
}
.header__submit:active,
.traineeship__nextStage:active {
  background-color: #000000;
  color: var(--white);
}
.header__submit:active > svg > path,
.traineeship__nextStage:active > svg > path {
  fill: var(--white);
  transition: color 0.3s, background-color 0.3s, fill 0.3s;
}

.begin__button,
.hero__frontend_submit,
.invite__button,
.thanks__button {
  transition: all 0.3s;
}
.begin__button > svg,
.hero__frontend_submit > svg,
.invite__button > svg,
.thanks__button > svg {
  margin-top: 2px;
}
.begin__button:hover,
.hero__frontend_submit:hover,
.invite__button:hover,
.thanks__button:hover {
  background-color: var(--blueButtonHover);
}
.begin__button:active,
.hero__frontend_submit:active,
.invite__button:active,
.thanks__button:active {
  background-color: var(--blueButtonActive);
}

.header {
  height: 96px;
  min-width: 1068px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 129px;
}
@media (max-width: 1200px) {
  .header {
    min-width: 768px;
    width: 768px;
    margin-left: 70px;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .header {
    min-width: 320px;
    width: 320px;
    margin-left: 10px;
  }
}
.header__hamburger {
  display: none;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .header__hamburger {
    display: block;
    margin-right: 71px;
  }
  .header__hamburger_open {
    display: block;
  }
  .header__hamburger_close {
    display: none;
  }
}
@media (max-width: 768px) {
  .header__hamburger {
    margin-right: 33px;
  }
}
.header__line {
  display: none;
}
@media (max-width: 1200px) {
  .header__line {
    display: block;
    width: 768px;
    height: 1px;
    background-color: var(--black);
    margin-top: -130px;
  }
}
@media (max-width: 768px) {
  .header__line {
    display: block;
    width: 320px;
    margin-bottom: -25px;
  }
}
.header__image {
  margin-right: 64px;
  cursor: pointer;
}
.header__links {
  display: flex;
  width: 658px;
  justify-content: space-between;
  margin-right: 122px;
}
.header__links > div {
  cursor: pointer;
}
@media (max-width: 1200px) {
  .header__links {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 145px;
    left: 122px;
    gap: 36px;
    font-size: var(--p1_tablet);
    line-height: var(--p1_tablet_lineHeight);
  }
}
@media (max-width: 1200px) {
  .header__links {
    left: 12px;
  }
}
.header__submit {
  width: 220px;
  padding: 10px 16px 9px 16px;
  border: 1px solid var(--black);
  display: flex;
  gap: 8px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, fill 0.3s;
}
@media (max-width: 1200px) {
  .header__submit {
    width: 220px;
    padding: 10px 16px 9px 16px;
    border: 1px solid var(--black);
    display: flex;
    gap: 8px;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s, fill 0.3s;
    display: none;
    position: absolute;
    width: 200px;
    gap: 5px;
    font-size: var(--p1_tablet);
    line-height: var(--p1_tablet_lineHeight);
    top: 369px;
    left: 121px;
  }
}
@media (max-width: 1200px) {
  .header__submit {
    left: 12px;
  }
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1200px) {
  main {
    overflow: hidden;
  }
}

.hero {
  margin-bottom: 192px;
  max-width: 936px;
  display: flex;
  justify-content: space-between;
  gap: 118px;
}
@media (max-width: 1200px) {
  .hero {
    margin-top: 96px;
    margin-left: 15px;
    gap: 57px;
    margin-bottom: 125px;
    margin-right: 9px;
  }
}
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    flex-flow: column-reverse;
    width: 320px;
    margin-bottom: 90px;
  }
}
.hero__frontend_blue {
  font-family: "Montserrat";
  font-size: var(--promo_desktop);
  font-weight: 700;
  line-height: var(--promo_desktop);
  color: var(--blue);
  margin-bottom: 23px;
}
@media (max-width: 1200px) {
  .hero__frontend_blue {
    font-size: var(--promo_tablet);
    line-height: var(--promo_tablet);
  }
}
@media (max-width: 768px) {
  .hero__frontend_blue {
    font-size: var(--promo_mobile);
    margin-bottom: 2px;
  }
}
.hero__frontend_black {
  font-family: "Montserrat";
  font-size: var(--h1_desktop);
  line-height: var(--h1_desktop_lineHeight);
  font-weight: 500;
  margin-bottom: 50px;
}
@media (max-width: 1200px) {
  .hero__frontend_black {
    font-size: var(--h1_tablet);
    line-height: var(--h1_tablet_lineHeight);
    margin-left: 4px;
    margin-top: -5px;
  }
}
.hero__frontend_submit {
  width: 220px;
  padding: 10px 16px 9px 16px;
  border: 1px solid var(--black);
  display: flex;
  gap: 8px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, fill 0.3s;
  background-color: var(--blue);
  border: none;
  color: var(--white);
  font-weight: 400;
}
.hero__frontend_submit > img {
  fill: var(--white);
  margin-top: 2px;
}
@media (max-width: 1200px) {
  .hero__frontend_submit {
    font-size: var(--p1_tablet);
    line-height: var(--p1_tablet_lineHeight);
    width: 200px;
    margin-left: 4px;
    margin-top: -26px;
    padding-bottom: 14px;
  }
}
.hero__icons {
  margin-top: 22px;
}
@media (max-width: 1200px) {
  .hero__icons {
    margin-top: -30px;
    transform: scale(0.85);
  }
}
@media (max-width: 768px) {
  .hero__icons {
    margin-bottom: -50px;
  }
}

.description {
  position: relative;
  max-width: 936px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;
  font-size: var(--lead_desktop);
  line-height: var(--lead_desktop_lineHeight);
  margin-bottom: 190px;
}
@media (max-width: 1200px) {
  .description {
    font-size: var(--lead_tablet);
    line-height: var(--lead_tablet_lineHeight);
    margin-left: 35px;
    margin-bottom: 162px;
  }
}
@media (max-width: 768px) {
  .description {
    width: 320px;
    margin-left: 15px;
    padding-right: 45px;
    line-height: 132%;
    gap: 36px;
    margin-bottom: 90px;
  }
}
.description__trapezoid {
  position: absolute;
  top: -70px;
  left: 615px;
}

.offer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 936px;
  margin-bottom: 190px;
}
@media (max-width: 1200px) {
  .offer {
    margin-left: 37px;
    gap: 26px;
    margin-bottom: 160px;
  }
}
@media (max-width: 768px) {
  .offer {
    width: 320px;
    margin-right: 22px;
    margin-bottom: 90px;
  }
}
.offer__header {
  font-family: "Montserrat";
  font-size: var(--h1_desktop);
  line-height: var(--h1_desktop_lineHeight);
  color: var(--blue);
}
@media (max-width: 1200px) {
  .offer__header {
    font-size: var(--h1_tablet);
    line-height: var(--h1_tablet_lineHeight);
  }
}
@media (max-width: 768px) {
  .offer__header {
    padding-right: 10px;
  }
}
.offer__description {
  display: flex;
  flex-direction: column;
  gap: 23px;
  font-size: var(--p1_desktop);
  line-height: var(--p1_desktop_lineHeight);
  padding-right: 480px;
}
@media (max-width: 1200px) {
  .offer__description {
    font-size: var(--p1_tablet);
    line-height: var(--p1_tablet_lineHeight);
    padding-right: 272px;
  }
}
@media (max-width: 768px) {
  .offer__description {
    padding-right: 37px;
    margin-top: -3px;
  }
}
.offer__description > p > span {
  font-weight: 700;
  font-size: var(--p1_desktop_strong);
  line-height: var(--p1_desktop_strong_lineHeight);
  white-space: pre;
}
@media (max-width: 1200px) {
  .offer__description > p > span {
    font-size: var(--p1_tablet_strong);
    line-height: var(--p1_tablet_strong_lineHeight);
  }
}
@media (max-width: 1200px) {
  .offer__duration {
    margin-top: -7px;
  }
}
@media (max-width: 1200px) {
  .offer__profit {
    margin-top: -7px;
  }
}
@media (max-width: 768px) {
  .offer__profit {
    display: flex;
    flex-direction: column;
  }
}

.wait,
.traineeship,
.useful {
  display: flex;
  flex-direction: column;
  width: 1068px;
  margin-left: 137px;
  margin-bottom: 68px;
}
@media (max-width: 1200px) {
  .wait,
  .traineeship,
  .useful {
    width: 768px;
    margin-left: 75px;
    margin-bottom: 45px;
  }
}
@media (max-width: 768px) {
  .wait,
  .traineeship,
  .useful {
    width: 320px;
    margin-left: 15px;
  }
}
.wait__header,
.traineeship__header,
.useful__header {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .wait__header,
  .traineeship__header,
  .useful__header {
    padding-right: 50px;
    margin-bottom: -22px;
  }
}
.wait__header_text,
.traineeship__header_text,
.useful__header_text {
  font-family: "Montserrat";
  font-size: var(--h1_desktop);
  line-height: var(--h1_desktop_lineHeight);
  color: var(--blue);
}
@media (max-width: 1200px) {
  .wait__header_text,
  .traineeship__header_text,
  .useful__header_text {
    font-size: var(--h1_tablet);
    line-height: var(--h1_tablet_lineHeight);
  }
}
.wait__header_arrows,
.traineeship__header_arrows,
.useful__header_arrows {
  display: flex;
  gap: 37px;
  margin-right: 12px;
  margin-top: 20px;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .wait__header_arrows,
  .traineeship__header_arrows,
  .useful__header_arrows {
    margin-right: 57px;
    transform: scale(0.75);
    gap: 33px;
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .wait__header_arrows,
  .traineeship__header_arrows,
  .useful__header_arrows {
    display: none;
  }
}

.swiper {
  width: 1188px;
  margin-left: 253px;
  overflow-x: hidden;
  margin-bottom: 100px;
}
@media (max-width: 1200px) {
  .swiper {
    margin-left: 493px;
    margin-bottom: 70px;
  }
}
@media (max-width: 768px) {
  .swiper {
    width: 298px;
    margin-left: -15px;
    margin-bottom: 60px;
  }
}

.wait__cards,
.useful__cards {
  display: flex;
  gap: 53px;
  width: fit-content;
  overflow-x: hidden;
  cursor: grab;
}
@media (max-width: 1200px) {
  .wait__cards,
  .useful__cards {
    gap: 32px;
  }
}
@media (max-width: 768px) {
  .wait__cards,
  .useful__cards {
    gap: 22px;
  }
}

.wait__card,
.useful__card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 328px;
  flex-grow: 0;
  flex-shrink: 0;
  gap: 15px;
  height: 356px;
  border: 1px solid var(--black);
  box-shadow: 10px 10px var(--black);
  margin-bottom: 35px;
  padding: 16px;
}
@media (max-width: 768px) {
  .wait__card,
  .useful__card {
    flex-basis: 278px;
    padding: 16px 20px;
    box-shadow: 7px 7px var(--black);
  }
}
.wait__card > h3,
.useful__card > h3 {
  font-family: "Montserrat";
  font-size: var(--h3_desktop);
  font-weight: 500;
  line-height: var(--h3_desktop_lineHeight);
  color: var(--blue);
  user-select: none;
}
@media (max-width: 1200px) {
  .wait__card > h3,
  .useful__card > h3 {
    font-size: var(--h3_tablet);
    line-height: var(--h3_tablet_lineHeight);
  }
}
.wait__card > p,
.useful__card > p {
  font-size: var(--p1_tablet);
  line-height: var(--p1_tablet_lineHeight);
}

@media (max-width: 768px) {
  .useful__card {
    flex-basis: 248px;
  }
}

.begin {
  height: 296px;
  width: 1440px;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 51px;
  margin-bottom: 130px;
}
@media (max-width: 1200px) {
  .begin {
    width: 768px;
    height: 232px;
    gap: 23px;
    margin-bottom: 93px;
  }
}
@media (max-width: 768px) {
  .begin {
    width: 320px;
    height: 168px;
    margin-right: 18px;
    margin-bottom: 56px;
  }
}
.begin__header {
  font-family: "Montserrat";
  font-size: var(--h1_desktop);
  line-height: var(--h1_desktop_lineHeight);
  color: var(--white);
  margin-top: 63px;
}
@media (max-width: 1200px) {
  .begin__header {
    font-size: var(--h1_tablet);
    line-height: var(--h1_tablet_lineHeight);
  }
}
@media (max-width: 768px) {
  .begin__header {
    margin-top: 33px;
  }
}
.begin__button {
  padding: 9px 16px 10px;
  border: 1px solid var(--white);
  color: var(--white);
  margin-left: 10px;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .begin__button {
    width: 109px;
    margin-left: 5px;
    font-size: var(--p1_tablet);
    line-height: var(--p1_tablet_lineHeight);
  }
}

.traineeship {
  margin-left: 130px;
}
@media (max-width: 1200px) {
  .traineeship {
    margin-left: 75px;
    overflow: hidden;
  }
}
@media (max-width: 768px) {
  .traineeship {
    width: 298px;
    margin-left: -7px;
    margin-bottom: 0px;
  }
}
.traineeship__header {
  margin-bottom: 48px;
}
@media (max-width: 1200px) {
  .traineeship__header {
    margin-bottom: 45px;
  }
}
@media (max-width: 768px) {
  .traineeship__header {
    margin-bottom: 28px;
  }
}
.traineeship__wrapper {
  display: flex;
  width: 5000px;
}
@media (max-width: 768px) {
  .traineeship__wrapper {
    width: 298px;
  }
}
.traineeship__content {
  display: flex;
  justify-content: space-between;
  margin-top: -9px;
}
@media (max-width: 1200px) {
  .traineeship__content {
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  .traineeship__content {
    flex-direction: column;
  }
}
.traineeship__tabs {
  display: flex;
  gap: 49px;
  user-select: none;
}
@media (max-width: 1200px) {
  .traineeship__tabs {
    font-size: var(--p1_tablet_strong);
    line-height: var(--p1_tablet_strong_lineHeight);
    gap: 15px;
    width: 1030px;
  }
  .traineeship__tabs > div {
    width: 425px;
  }
  .traineeship__tabs > .traineeship__interview {
    width: 300px;
  }
}
.traineeship__line {
  margin-top: 8px;
  height: 1px;
  width: 100%;
  background-color: var(--black);
  opacity: 0.2;
}
.traineeship__text {
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin-top: 37px;
  padding-right: 120px;
}
@media (max-width: 1200px) {
  .traineeship__text {
    font-size: var(--p1_tablet);
    line-height: var(--p1_tablet_lineHeight);
    margin-top: 12px;
    padding-right: 130px;
  }
}
@media (max-width: 768px) {
  .traineeship__text {
    padding-right: 10px;
    margin-top: 22px;
    gap: 19px;
  }
}
.traineeship__text_header {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: var(--h3_desktop);
  line-height: var(--h3_desktop_lineHeight);
  color: var(--blue);
}
@media (max-width: 1200px) {
  .traineeship__text_header {
    font-size: var(--h3_tablet);
    line-height: var(--h3_tablet_lineHeight);
  }
}
.traineeship__image {
  margin-right: 250px;
  margin-top: 5px;
}
@media (max-width: 1200px) {
  .traineeship__image {
    transform: translate(-182px) scale(0.74);
    margin-top: -50px;
  }
}
@media (max-width: 1200px) {
  .traineeship__image {
    transform: translate(-5px) scale(0.64);
    margin-top: -65px;
  }
}
.traineeship__nextStage {
  width: 220px;
  padding: 10px 16px 9px 16px;
  border: 1px solid var(--black);
  display: flex;
  gap: 8px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, fill 0.3s;
  margin-top: 66px;
  width: 210px;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .traineeship__nextStage {
    width: 190px;
    padding: 13px 6px 10px 15px;
    margin-top: 53px;
  }
}
@media (max-width: 1200px) {
  .traineeship__nextStage {
    margin-top: 13px;
    margin-left: 5px;
  }
}
.traineeship__swiper {
  margin-bottom: 190px;
}
@media (max-width: 1200px) {
  .traineeship__swiper {
    margin-bottom: 100px;
  }
}
@media (max-width: 1200px) {
  .traineeship__swiper {
    margin-bottom: 0px;
  }
}

@media (max-width: 768px) {
  .swiper3 {
    width: 270px;
  }
}

@media (max-width: 768px) {
  .useful__card {
    height: 380px;
  }
}
.useful__card > h3 {
  color: var(--black);
}
.useful__card > p {
  font-size: var(--p2_desktop);
  line-height: var(--p2_desktop_lineHeight);
  padding-right: 7px;
}
@media (max-width: 1200px) {
  .useful__card > p {
    font-size: var(--p2_desktop);
    line-height: var(--p2_desktop_lineHeight);
  }
}
@media (max-width: 768px) {
  .useful__card > div:not(.useful__card_black, .useful__card_blue) {
    width: 200px;
  }
}
@media (max-width: 768px) {
  .useful__card > div:not(.useful__card_black, .useful__card_blue) > img {
    transform: translate(-45px, -30px) scale(0.7);
  }
}
.useful__card_blue {
  height: 115px;
  width: 111%;
  transform: translate(-16px, -16px);
  background-color: var(--blue);
  margin-bottom: -14px;
}
@media (max-width: 768px) {
  .useful__card_blue {
    transform: translate(-20px, -16px);
    width: 119.5%;
  }
}
.useful__card_blue + h3 {
  padding-right: 10px;
}
.useful__card_black {
  height: 179px;
  width: 111%;
  background-color: var(--black);
  transform: translate(-16px, -16px);
  margin-bottom: -14px;
}
@media (max-width: 768px) {
  .useful__card_black {
    transform: translate(-20px, -16px);
    width: 119.5%;
  }
}

.invite {
  width: 1440px;
  height: 720px;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .invite {
    width: 320px !important;
    margin-left: -10px;
    height: 600px;
  }
}
.invite__header {
  font-family: "Montserrat";
  font-size: var(--h1_desktop);
  line-height: var(--h1_desktop_lineHeight);
  color: var(--white);
  margin-top: 62px;
  margin-bottom: 69px;
}
@media (max-width: 1200px) {
  .invite__header {
    font-size: var(--h1_tablet);
    line-height: var(--h1_tablet_lineHeight);
    margin-bottom: 48px;
  }
}
@media (max-width: 768px) {
  .invite__header {
    margin-top: 32px;
  }
}
.invite__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 52px;
  color: var(--white);
  width: 456px;
}
@media (max-width: 768px) {
  .invite__form {
    width: 290px;
  }
}
.invite__form > label {
  position: relative;
  cursor: pointer;
}
.invite__form > label > input[type=text],
.invite__form input[type=tel],
.invite__form input[type=email] {
  all: unset;
  cursor: text;
  width: 456px;
}
.invite__form > label > input[type=text]::placeholder,
.invite__form input[type=tel]::placeholder,
.invite__form input[type=email]::placeholder {
  color: var(--white);
  opacity: 0.5;
  font-size: var(--p1_desktop);
  line-height: var(--p1_desktop_lineHeight);
}
@media (max-width: 1200px) {
  .invite__form > label > input[type=text]::placeholder,
  .invite__form input[type=tel]::placeholder,
  .invite__form input[type=email]::placeholder {
    font-size: var(--p1_tablet);
    line-height: var(--p1_tablet_lineHeight);
  }
}
.invite__form > label > input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.invite__line {
  width: 456px;
  height: 1px;
  background-color: var(--white);
  margin-top: -48px;
  position: relative;
}
@media (max-width: 768px) {
  .invite__line {
    width: 250px;
  }
}
.invite__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--blue);
  border: 1px solid var(--white);
}
.invite__checkmark::after {
  content: "";
  position: absolute;
  display: none;
}
.invite__checkbox {
  padding-left: 30px;
  margin-top: -5px;
}
@media (max-width: 1200px) {
  .invite__checkbox {
    font-size: var(--p1_tablet);
    line-height: var(--p1_tablet_lineHeight);
  }
}
.invite__checkbox:hover input ~ .invite__checkmark {
  cursor: pointer;
  filter: brightness(0.95);
}
.invite__checkbox > input:checked ~ .invite__checkmark:after {
  display: block;
}
.invite__checkbox > .invite__checkmark::after {
  left: 6px;
  top: 2px;
  width: 7px;
  height: 12px;
  border: solid var(--white);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.invite__button {
  all: unset;
  width: 220px;
  padding: 10px 16px 9px 16px;
  border: 1px solid var(--black);
  display: flex;
  gap: 8px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, fill 0.3s;
  width: fit-content;
  border: 1px solid var(--white);
  margin-top: 10px;
  align-self: center;
}
@media (max-width: 1200px) {
  .invite__button {
    margin-top: 70px;
    font-size: var(--p1_tablet);
    line-height: var(--p1_tablet_lineHeight);
  }
}
@media (max-width: 768px) {
  .invite__button {
    margin-top: -5px;
  }
}
.invite_underline {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.thanks {
  display: none;
  flex-direction: column;
  align-items: center;
  height: 416px;
  width: 1440px;
  background-color: var(--blue);
  color: var(--white);
  gap: 65px;
}
@media (max-width: 1200px) {
  .thanks {
    width: 320px;
    margin-left: -10px;
  }
}
.thanks__header {
  font-family: "Montserrat";
  font-size: var(--h1_desktop);
  line-height: var(--h1_desktop_lineHeight);
  margin-top: 62px;
}
@media (max-width: 1200px) {
  .thanks__header {
    font-size: var(--h1_tablet);
    line-height: var(--h1_tablet_lineHeight);
  }
}
.thanks__text {
  max-width: 452px;
  text-align: center;
}
.thanks__button {
  width: 220px;
  padding: 10px 16px 9px 16px;
  border: 1px solid var(--black);
  display: flex;
  gap: 8px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, fill 0.3s;
  width: fit-content;
  border: 1px solid var(--white);
}

.fullscreen-line {
  width: 1440px;
  height: 1px;
  background-color: var(--white);
}

.footer {
  height: 96px;
  width: 1440px;
  background-color: var(--blue);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 63px;
  font-size: var(--p1_desktop);
  line-height: var(--p1_desktop_lineHeight);
}
@media (max-width: 1200px) {
  .footer {
    font-size: var(--p1_tablet);
    line-height: var(--p1_tablet_lineHeight);
    width: 768px;
    gap: 50px;
  }
}
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    height: 122px;
    width: 320px;
    gap: 15px;
    margin-left: -10px;
  }
}
.footer_underline {
  text-decoration: underline;
  text-decoration-color: var(--white);
  text-decoration-skip-ink: none;
}

/*# sourceMappingURL=style.css.map */
