// =================COMMON STYLES==================

:root {
  --black: #00151c;
  --blue: #7dbcca;
  --white: #ffffff;

  --promo_desktop: 96px;
  --h1_desktop: 64px;
  --h3_desktop: 24px;
  --lead_desktop: 32px;
  --p1_desktop: 18px;
  --p1_desktop_strong: 16px;
  --p2_desktop: 14px;

  --h1_desktop_lineHeight: 122%;
  --h3_desktop_lineHeight: 132%;
  --lead_desktop_lineHeight: 126%;
  --p1_desktop_lineHeight: 112%;
  --p1_desktop_strong_lineHeight: 126%;
  --p2_desktop_lineHeight: 116%;

  --promo_tablet: 64px;
  --h1_tablet: 32px;
  --h2_tablet: 24px;
  --h3_tablet: 20px;
  --lead_tablet: 24px;
  --p1_tablet: 16px;
  --p1_tablet_strong: 16px;

  --h1_tablet_lineHeight: 124%;
  --h2_tablet_lineHeight: 134%;
  --h3_tablet_lineHeight: 142%;
  --lead_tablet_lineHeight: 124%;
  --p1_tablet_lineHeight: 124%;
  --p1_tablet_strong_lineHeight: 124%;
}

@mixin button {
  width: 220px;
  padding: 10px 16px 9px 16px;
  border: 1px solid var(--black);
  display: flex;
  gap: 8px;
  cursor: pointer;
}

@font-face {
  font-family: PT_Mono;
  src: url(./assets/fonts/pt-mono_regular.woff);
  font-weight: 400;
}

@font-face {
  font-family: PT_Mono;
  src: url(./assets/fonts/pt-mono_bold.woff);
  font-weight: 700;
}

@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/montserrat_medium.woff);
  font-weight: 500;
}

@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/montserrat_bold.woff);
  font-weight: 700;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  overflow-x: hidden;
}

body {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-family: 'PT_Mono', sans-serif;
  color: var(--black);

  @media (max-width: 1200px) {
    max-width: 768px;
    width: 768px;
  }
}

// =================HEADER==================

.header {
  height: 96px;
  min-width: 1068px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 129px;

  &__hamburger {
    display: none;
    cursor: pointer;
    @media (max-width: 1200px) {
      display: block;
      margin-right: 71px;

      &_open {
        display: block;
      }

      &_close {
        display: none;
      }
    }
  }

  &__line {
    display: none;

    @media (max-width: 1200px) {
      display: block;
      width: 768px;

      height: 1px;
      background-color: var(--black);
      margin-top: -130px;
    }
  }

  @media (max-width: 1200px) {
    min-width: 768px;
    width: 768px;
    margin-left: 70px;
    justify-content: space-between;
  }

  &__image {
    margin-right: 64px;
    cursor: pointer;
  }

  &__links {
    display: flex;
    width: 658px;
    justify-content: space-between;
    margin-right: 122px;
    > div {
      cursor: pointer;
    }

    @media (max-width: 1200px) {
      display: none;
      position: absolute;
      flex-direction: column;
      top: 145px;
      left: 122px;
      gap: 36px;
      font-size: var(--p1_tablet);
      line-height: var(--p1_tablet_lineHeight);
    }
  }

  &__submit {
    @include button;

    @media (max-width: 1200px) {
      @include button;
      display: none;
      position: absolute;
      width: 200px;
      gap: 5px;
      font-size: var(--p1_tablet);
      line-height: var(--p1_tablet_lineHeight);
      top: 369px;
      left: 121px;
    }
  }
}

// =================MAIN PAGE==================

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// =================HERO SECTION==================

.hero {
  margin-bottom: 192px;
  max-width: 936px;
  display: flex;
  justify-content: space-between;
  gap: 118px;

  @media (max-width: 1200px) {
    margin-top: 96px;
    margin-left: 15px;
    gap: 57px;
    margin-bottom: 125px;
  }

  &__frontend {
    &_blue {
      font-family: 'Montserrat';
      font-size: var(--promo_desktop);
      font-weight: 700;
      line-height: var(--promo_desktop);
      color: var(--blue);
      margin-bottom: 23px;

      @media (max-width: 1200px) {
        font-size: var(--promo_tablet);
        line-height: var(--promo_tablet);
      }
    }

    &_black {
      font-family: 'Montserrat';
      font-size: var(--h1_desktop);
      line-height: var(--h1_desktop_lineHeight);
      font-weight: 500;
      margin-bottom: 50px;

      @media (max-width: 1200px) {
        font-size: var(--h1_tablet);
        line-height: var(--h1_tablet_lineHeight);
        margin-left: 4px;
        margin-top: -5px;
      }
    }

    &_submit {
      @include button;
      background-color: var(--blue);
      border: none;
      color: var(--white);
      font-weight: 400;

      > img {
        fill: var(--white);
      }

      @media (max-width: 1200px) {
        font-size: var(--p1_tablet);
        line-height: var(--p1_tablet_lineHeight);
        width: 200px;
        margin-left: 4px;
        margin-top: -26px;
        padding-bottom: 14px;
      }
    }
  }
  &__icons {
    margin-top: 22px;

    @media (max-width: 1200px) {
      margin-top: -30px;
      transform: scale(0.85);
    }
  }
}

// =================DESCRIPTION SECTION==================

.description {
  position: relative;
  max-width: 936px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;
  font-size: var(--lead_desktop);
  line-height: var(--lead_desktop_lineHeight);
  margin-bottom: 190px;

  @media (max-width: 1200px) {
    font-size: var(--lead_tablet);
    line-height: var(--lead_tablet_lineHeight);
    margin-left: 35px;
    margin-bottom: 162px;
  }

  &__trapezoid {
    position: absolute;
    top: -70px;
    left: 615px;
  }
}

// =================OFFER SECTION==================

.offer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 936px;
  margin-bottom: 190px;

  @media (max-width: 1200px) {
    margin-left: 37px;
    gap: 26px;
    margin-bottom: 160px;
  }

  &__header {
    font-family: 'Montserrat';
    font-size: var(--h1_desktop);
    line-height: var(--h1_desktop_lineHeight);
    color: var(--blue);

    @media (max-width: 1200px) {
      font-size: var(--h1_tablet);
      line-height: var(--h1_tablet_lineHeight);
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 23px;
    font-size: var(--p1_desktop);
    line-height: var(--p1_desktop_lineHeight);
    padding-right: 480px;

    @media (max-width: 1200px) {
      font-size: var(--p1_tablet);
      line-height: var(--p1_tablet_lineHeight);
      padding-right: 272px;
    }

    > p > span {
      font-weight: 700;
      font-size: var(--p1_desktop_strong);
      line-height: var(--p1_desktop_strong_lineHeight);
      white-space: pre;

      @media (max-width: 1200px) {
        font-size: var(--p1_tablet_strong);
        line-height: var(--p1_tablet_strong_lineHeight);
      }
    }
  }

  &__duration {
    @media (max-width: 1200px) {
      margin-top: -7px;
    }
  }

  &__profit {
    @media (max-width: 1200px) {
      margin-top: -7px;
    }
  }
}

// =================WAIT SECTION==================

.wait,
.traineeship,
.useful {
  display: flex;
  flex-direction: column;
  width: 1068px;
  margin-left: 137px;
  margin-bottom: 68px;

  @media (max-width: 1200px) {
    width: 768px;
    margin-left: 75px;
    margin-bottom: 45px;
  }

  &__header {
    display: flex;
    justify-content: space-between;

    &_text {
      font-family: 'Montserrat';
      font-size: var(--h1_desktop);
      line-height: var(--h1_desktop_lineHeight);
      color: var(--blue);

      @media (max-width: 1200px) {
        font-size: var(--h1_tablet);
        line-height: var(--h1_tablet_lineHeight);
      }
    }

    &_arrows {
      display: flex;
      gap: 37px;
      margin-right: 12px;
      margin-top: 20px;
      cursor: pointer;

      @media (max-width: 1200px) {
        margin-right: 57px;
        transform: scale(0.75);
        gap: 33px;
        margin-top: 0;
      }
    }
  }
}

// =================SWIPER SECTION==================

.swiper {
  width: 1188px;
  margin-left: 253px;
  overflow-x: hidden;
  margin-bottom: 100px;

  @media (max-width: 1200px) {
    margin-left: 493px;
  }
}

.wait__cards,
.useful__cards {
  display: flex;
  gap: 53px;
  width: fit-content;
  overflow-x: hidden;

  @media (max-width: 1200px) {
    gap: 32px;
  }
}

.wait__card,
.useful__card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 328px;
  flex-grow: 0;
  flex-shrink: 0;
  gap: 15px;
  height: 356px;
  border: 1px solid var(--black);
  box-shadow: 10px 10px var(--black);
  margin-bottom: 35px;
  padding: 16px;

  > h3 {
    font-family: 'Montserrat';
    font-size: var(--h3_desktop);
    font-weight: 500;
    line-height: var(--h3_desktop_lineHeight);
    color: var(--blue);
    user-select: none;

    @media (max-width: 1200px) {
      font-size: var(--h3_tablet);
      line-height: var(--h3_tablet_lineHeight);
    }
  }

  > p {
    font-size: var(--p1_tablet);
    line-height: var(--p1_tablet_lineHeight);
  }
}

// =================BEGIN SECTION==================

.begin {
  height: 296px;
  width: 1440px;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 51px;
  margin-bottom: 130px;

  &__header {
    font-family: 'Montserrat';
    font-size: var(--h1_desktop);
    line-height: var(--h1_desktop_lineHeight);
    color: var(--white);
    margin-top: 63px;

    @media (max-width: 1200px) {
      font-size: var(--h1_tablet);
      line-height: var(--h1_tablet_lineHeight);
    }
  }

  &__button {
    padding: 9px 16px 10px;
    border: 1px solid var(--white);
    color: var(--white);
    margin-left: 10px;
    cursor: pointer;
  }
}

// =================TRAINEESHIP SECTION==================

.traineeship {
  margin-left: 130px;

  &__header {
    margin-bottom: 48px;
  }

  &__wrapper {
    display: flex;
    width: 5000px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: -9px;
  }

  &__tabs {
    display: flex;
    gap: 49px;
    user-select: none;
  }

  &__line {
    margin-top: 8px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-top: 37px;

    padding-right: 120px;

    &_header {
      font-family: 'Montserrat';
      font-weight: 500;
      font-size: var(--h3_desktop);
      line-height: var(--h3_desktop_lineHeight);
      color: var(--blue);

      @media (max-width: 1200px) {
        font-size: var(--h3_tablet);
        line-height: var(--h3_tablet_lineHeight);
      }
    }
  }

  &__image {
    margin-right: 250px;
    margin-top: 5px;
  }

  &__nextStage {
    @include button;
    margin-top: 66px;
    width: 210px;
    cursor: pointer;
  }

  &__swiper {
    margin-bottom: 190px;
  }
}

// =================USEFUL SECTION==================

.useful {
  &__card {
    > h3 {
      color: var(--black);
    }

    > p {
      font-size: var(--p2_desktop);
      line-height: var(--p2_desktop_lineHeight);
      padding-right: 7px;

      @media (max-width: 1200px) {
        font-size: var(--p2_desktop);
        line-height: var(--p2_desktop_lineHeight);
      }
    }

    &_blue {
      height: 115px;
      width: 111%;
      transform: translate(-16px, -16px);
      background-color: var(--blue);
      margin-bottom: -14px;
    }
    &_blue + h3 {
      padding-right: 10px;
    }

    &_black {
      height: 179px;
      width: 111%;
      background-color: var(--black);
      transform: translate(-16px, -16px);
      margin-bottom: -14px;
    }
  }
}

// =================INVITE SECTION==================

.invite {
  width: 1440px;
  height: 720px;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    font-family: 'Montserrat';
    font-size: var(--h1_desktop);
    line-height: var(--h1_desktop_lineHeight);
    color: var(--white);
    margin-top: 62px;
    margin-bottom: 69px;

    @media (max-width: 1200px) {
      font-size: var(--h1_tablet);
      line-height: var(--h1_tablet_lineHeight);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 52px;
    color: var(--white);
    width: 456px;

    > label {
      position: relative;
      cursor: pointer;
    }

    > label > input[type='text'],
    input[type='tel'],
    input[type='email'] {
      all: unset;
      cursor: text;
      width: 456px;

      &::placeholder {
        color: var(--white);
        opacity: 0.5;
        font-size: var(--p1_desktop);
        line-height: var(--p1_desktop_lineHeight);

        @media (max-width: 1200px) {
          font-size: var(--p1_tablet);
          line-height: var(--p1_tablet_lineHeight);
        }
      }
    }

    > label > input[type='checkbox'] {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
  }
  &__line {
    width: 456px;
    height: 1px;
    background-color: var(--white);
    margin-top: -48px;
    position: relative;
  }

  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: var(--blue);
    border: 1px solid var(--white);

    &::after {
      content: '';
      position: absolute;
      display: none;
    }
  }

  &__checkbox {
    padding-left: 30px;
    margin-top: -5px;

    &:hover input ~ .invite__checkmark {
      cursor: pointer;
      filter: brightness(0.95);
    }

    > input:checked ~ .invite__checkmark:after {
      display: block;
    }

    > .invite__checkmark::after {
      left: 6px;
      top: 2px;
      width: 7px;
      height: 12px;
      border: solid var(--white);
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  &__button {
    all: unset;
    @include button;
    width: fit-content;
    border: 1px solid var(--white);
    margin-top: 10px;
    align-self: center;
  }

  &_underline {
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
}

// =================THANKS SECTION==================

.thanks {
  display: none;
  flex-direction: column;
  align-items: center;
  height: 416px;
  width: 1440px;
  background-color: var(--blue);
  color: var(--white);
  gap: 65px;

  &__header {
    font-family: 'Montserrat';
    font-size: var(--h1_desktop);
    line-height: var(--h1_desktop_lineHeight);
    margin-top: 62px;

    @media (max-width: 1200px) {
      font-size: var(--h1_tablet);
      line-height: var(--h1_tablet_lineHeight);
    }
  }

  &__text {
    max-width: 452px;
    text-align: center;
  }

  &__button {
    @include button;
    width: fit-content;
    border: 1px solid var(--white);
  }
}

// =================FOOTER==================
.fullscreen-line {
  width: 1440px;
  height: 1px;
  background-color: var(--white);
}

.footer {
  height: 96px;
  width: 1440px;
  background-color: var(--blue);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 63px;
  font-size: var(--p1_desktop);
  line-height: var(--p1_desktop_lineHeight);

  @media (max-width: 1200px) {
    font-size: var(--p1_tablet);
    line-height: var(--p1_tablet_lineHeight);
  }

  &_underline {
    text-decoration: underline;
    text-decoration-color: var(--white);
    text-decoration-skip-ink: none;
  }
}
