// =================COMMON STYLES==================

:root {
  --black: #00151c;
  --blue: #7dbcca;
  --white: #ffffff;

  --promo_desktop: 96px;
  --h1_desktop: 64px;
  --lead_desktop: 32px;
  --p1_desktop: 18px;
  --p1_desktop_strong: 16px;

  --h1_desktop_lineHeight: 122%;
  --lead_desktop_lineHeight: 126%;
  --p1_desktop_lineHeight: 112%;
  --p1_desktop_strong_lineHeight: 126%;
}

@mixin button {
  width: 220px;
  padding: 10px 16px 9px 16px;
  border: 1px solid var(--black);
  display: flex;
  gap: 8px;
  cursor: pointer;
}

@font-face {
  font-family: PT_Mono;
  src: url(./assets/fonts/pt-mono_regular.woff);
  font-weight: 400;
}

@font-face {
  font-family: PT_Mono;
  src: url(./assets/fonts/pt-mono_bold.woff);
  font-weight: 700;
}

@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/montserrat_medium.woff);
  font-weight: 500;
}

@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/montserrat_bold.woff);
  font-weight: 700;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-family: 'PT_Mono', sans-serif;

  color: var(--black);
}

// =================HEADER==================

.header {
  height: 96px;
  min-width: 1068px;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 12px;
  margin-bottom: 129px;

  &__image {
    margin-right: 64px;
    cursor: pointer;
  }

  &__links {
    display: flex;
    width: 658px;
    justify-content: space-between;
    margin-right: 122px;
    > div {
      cursor: pointer;
    }
  }

  &__submit {
    @include button;
  }
}

// =================MAIN PAGE==================

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// =================HERO SECTION==================

.hero {
  margin-left: 15px;
  margin-bottom: 192px;
  max-width: 936px;
  display: flex;
  justify-content: space-between;
  gap: 118px;

  &__frontend {
    &_blue {
      font-family: 'Montserrat';
      font-size: var(--promo_desktop);
      font-weight: 700;
      line-height: var(--promo_desktop);
      color: var(--blue);
      margin-bottom: 23px;
    }

    &_black {
      font-family: 'Montserrat';
      font-size: var(--h1_desktop);
      line-height: var(--h1_desktop_lineHeight);
      font-weight: 500;
      margin-bottom: 50px;
    }

    &_submit {
      @include button;
      background-color: var(--blue);
      border: none;
      color: var(--white);
      font-weight: 400;

      > img {
        fill: var(--white);
      }
    }
  }
  &__icons {
    margin-top: 22px;
  }
}

// =================DESCRIPTION SECTION==================

.description {
  position: relative;
  max-width: 936px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;
  font-size: var(--lead_desktop);
  line-height: var(--lead_desktop_lineHeight);
  margin-left: 12px;
  margin-bottom: 190px;

  &__trapezoid {
    position: absolute;
    top: -70px;
    left: 615px;
  }
}

// =================OFFER SECTION==================

.offer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 936px;
  margin-left: 12px;

  &__header {
    font-family: 'Montserrat';
    font-size: var(--h1_desktop);
    line-height: var(--h1_desktop_lineHeight);
    color: var(--blue);
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 23px;
    font-size: var(--p1_desktop);
    line-height: var(--p1_desktop_lineHeight);
    padding-right: 480px;

    > p > span {
      font-weight: 700;
      font-size: var(--p1_desktop_strong);
      line-height: var(--p1_desktop_strong_lineHeight);
      white-space: pre;
    }
  }
}
